#navigationTools {
	position: absolute;
	top:10px;
	left:25px;
	z-index: 99;
}
#arrows > i {
	font-size: 30px;
	color:white;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1px;
	position:absolute;
	cursor: pointer;
}
#arrows > i.active {
	color:black;
	-webkit-text-stroke-color: white;
}
#tilt {
	position:absolute;
	left: 100px;
}

#building {
	position:absolute;
	left: 220px;
}
